<ng-container *ngIf="mainSwitch$ | push">
  <ng-container *ngIf="debug$ | push">
    {{ roomId$ | push | json }} - {{ roomExist$ | push | json }} - online:
    {{ isRtdbOnline$ | push | json }}
    <br />
    {{ userData$ | push | json }}
    <br />
  </ng-container>
  <ng-container *rxLet="roomId$ as roomId; suspense: noRoom">
    <ng-container *rxLet="roomExist$ as roomExist; suspense: loadingRoom">
      <ng-container
        *ngIf="roomExist === false; then roomNotFound; else working"
      ></ng-container>
    </ng-container>
  </ng-container>

  <ng-template #loadingRoom>
    <div class="full center">Loading room data…</div>
  </ng-template>

  <ng-template #roomNotFound>
    <div class="full center">
      Room not found <br />
      <button mat-flat-button color="accent" (click)="home()">
        Back to home
      </button>
    </div>
  </ng-template>

  <ng-template #noRoom>
    <div class="full center">
      <button mat-flat-button color="primary" (click)="newRoom()">
        New Room
      </button>
    </div>
  </ng-template>

  <ng-template #working>
    <div class="full center">
      {{ roomVoteCount$ | push }} /
      {{ (roomData$ | push)?.members?.length }} vote(s)
      <br />
      <ng-container *ngIf="debug$ | push">
        <ng-container *ngIf="roomVoteResult$ | push as result">
          {{ result | json }}
        </ng-container>
        <br />
        {{ roomData$ | push | json }}
      </ng-container>
      <div class="vote-container" *rxLet="voteData$ as voteData">
        <button
          *rxFor="let point of points"
          mat-flat-button
          matBadgeColor="warn"
          [color]="voteData.vote === point ? 'accent' : 'primary'"
          [matBadge]="voteData.votes?.[point] || undefined"
          (click)="vote(point)"
        >
          {{ point }}
        </button>
      </div>
    </div>
    <button
      *ngIf="(roomData$ | push)?.createdBy === (userId$ | push)"
      mat-flat-button
      color="warn"
      (click)="reset()"
    >
      Reset
    </button>
  </ng-template>
</ng-container>
