@if (mainSwitch$ | push) { @if (!(isRtdbOnline$ | push)) {
<span>Connecting…</span>
} @if (debug$ | push) {
<br />
{{ roomId$ | push | json }} - {{ roomExist$ | push | json }} - online:
{{ isRtdbOnline$ | push | json }}
<br />
{{ userData$ | push | json }}
<br />
}
<ng-container *rxLet="roomId$ as roomId">
  @if (!!roomId) {
  <ng-container *rxLet="roomExist$ as roomExist; suspense: loadingRoom">
    @if (roomExist === false) {
    <div>
      <div class="full center">
        Room not found <br />
        <button mat-flat-button color="accent" (click)="home()">
          Back to home
        </button>
      </div>
    </div>
    } @else {
    <div class="full center">
      {{ roomVoteCount$ | push }} /
      {{ (roomData$ | push)?.members?.length }} vote(s)
      <br />
      @if (debug$ | push) { @if (roomVoteResult$ | push; as result) {
      {{ result | json }}
      }
      <br />
      {{ roomData$ | push | json }}
      }
      <div class="vote-container" *rxLet="voteData$ as voteData">
        @for (point of points; track point) {
        <button
          mat-flat-button
          matBadgeColor="warn"
          [color]="voteData.vote === point ? 'accent' : 'primary'"
          [matBadge]="voteData.votes?.[point] || undefined"
          (click)="vote(point)"
        >
          {{ point }}
        </button>
        }
      </div>
    </div>
    @if ((roomData$ | push)?.createdBy === (userId$ | push)) {
    <button mat-flat-button color="warn" (click)="reset()">Reset</button>
    } }
  </ng-container>
  } @else {
  <div class="full center">
    <button
      mat-flat-button
      color="primary"
      (click)="newRoom()"
      [disabled]="(loggedIn$ | push) === false"
    >
      New Room
    </button>
  </div>
  }
</ng-container>
}

<ng-template #loadingRoom>
  <div class="full center">Loading room data…</div>
</ng-template>
