<ng-container *ngIf="mainSwitch$ | push">
  {{ roomId$ | push | json }} - {{ roomExist$ | push | json }} - online:
  {{ isRtdbOnline$ | push | json }}
  <br />
  {{ userData$ | push | json }}
  <br />
  <ng-container *rxLet="roomId$ as roomId; rxSuspense: noRoom">
    <ng-container *rxLet="roomExist$ as roomExist; rxSuspense: loadingRoom">
      <ng-container
        *ngIf="roomExist === false; then roomNotFound; else working"
      ></ng-container>
    </ng-container>
  </ng-container>

  <ng-template #loadingRoom>
    <div class="full center">Loading room data…</div>
  </ng-template>

  <ng-template #roomNotFound>
    <div class="full center">
      Room not found <br />
      <button mat-flat-button color="accent" (click)="home()">
        Back to home
      </button>
    </div>
  </ng-template>

  <ng-template #noRoom>
    <div class="full center">
      <button mat-flat-button color="primary" (click)="newRoom()">
        New Room
      </button>
    </div>
  </ng-template>

  <ng-template #working>
    <div class="full center">
      Total {{ roomVoteCount$ | push | json }} vote(s)
      <br />
      {{ roomData$ | push | json }}
      <div class="vote-container">
        <button
          *ngFor="let point of points"
          mat-flat-button
          color="primary"
          (click)="vote(point)"
        >
          {{ point }}
        </button>
      </div>
    </div>
  </ng-template>
</ng-container>
