.full {
  height: 100vh;
  position: absolute;
  top: 0;
  width: 100vw;
}

.center {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 10vw;
}

.vote-container {
  display: flex;
  flex-direction: row;
  column-gap: 1vw;
}
